<!-- src/resources/templates/pub/md.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Qute Page with Markdown + Autolink extension</title>
</head>
<body>
<h1>Hello World!</h1>
{#md}

## This is a Markdown section
It will be converted to HTML using a Markdown processor.

| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

Autolink extension: https://example.com
{/md}
</body>
</html>